In [1]:
import pandas as pd

C:\Users\HP\AppData\Local\Temp\ipykernel_10296\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
import numpy as np

In [4]:
# reading of csv file 
df = pd.read_csv("best_buy_laptops_2024.csv")
df.head()

,brand,model,aggregateRating/ratingValue,aggregateRating/reviewCount,offers/price,offers/priceCurrency,depth,width,features/0/description,features/1/description
0,Dell,i7430-7374SLV-PUS,4.7,1088.0,NaN,USD,8.92,12.36,Windows 11 brings back the Start Menu from Win...,"Equipped with a FHD+ IPS touch screen, the bor..."
1,Dell,i3520-5810BLK-PUS,4.6,839.0,NaN,USD,9.27,14.11,Experience the most secure Windows ever built ...,Natural finger-touch navigation makes the most...
2,Lenovo,82YL0002US,4.7,127.0,NaN,USD,8.76,12.51,Windows 11 brings back the Start Menu from Win...,Find the relevant information and ideas you ne...
3,Microsoft,DTI-00001,4.7,926.0,NaN,USD,7.90,11.50,Find the relevant information and ideas you ne...,Iconic 2-in-1 design transforms into what you ...
4,Microsoft,R1S-00062,4.7,422.0,NaN,USD,8.80,12.10,Find the relevant information and ideas you ne...,"Family, friends, passions, music, creations – ..."

In [5]:
# returns data type of each variable
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   brand                        489 non-null    object
 1   model                        488 non-null    object
 2   aggregateRating/ratingValue  357 non-null    float64
 3   aggregateRating/reviewCount  357 non-null    float64
 4   offers/price                 262 non-null    float64
 5   offers/priceCurrency         489 non-null    object
 6   depth                        431 non-null    float64
 7   width                        431 non-null    float64
 8   features/0/description       486 non-null    object
 9   features/1/description       483 non-null    object
dtypes: float64(5), object(5)
memory usage: 38.3+ KB

In [6]:
# returns dimentions of data set
df.shape

(489, 10)

In [7]:
to_drop = ['features/0/description' , 'features/1/description']

df.drop(to_drop, inplace=True, axis=1)

In [8]:
df.head()

,brand,model,aggregateRating/ratingValue,aggregateRating/reviewCount,offers/price,offers/priceCurrency,depth,width
0,Dell,i7430-7374SLV-PUS,4.7,1088.0,NaN,USD,8.92,12.36
1,Dell,i3520-5810BLK-PUS,4.6,839.0,NaN,USD,9.27,14.11
2,Lenovo,82YL0002US,4.7,127.0,NaN,USD,8.76,12.51
3,Microsoft,DTI-00001,4.7,926.0,NaN,USD,7.90,11.50
4,Microsoft,R1S-00062,4.7,422.0,NaN,USD,8.80,12.10

In [9]:
df.head(20)

,brand,model,aggregateRating/ratingValue,aggregateRating/reviewCount,offers/price,offers/priceCurrency,depth,width
0,Dell,i7430-7374SLV-PUS,4.7,1088.0,NaN,USD,8.92,12.36
1,Dell,i3520-5810BLK-PUS,4.6,839.0,NaN,USD,9.27,14.11
2,Lenovo,82YL0002US,4.7,127.0,NaN,USD,8.76,12.51
3,Microsoft,DTI-00001,4.7,926.0,NaN,USD,7.90,11.50
4,Microsoft,R1S-00062,4.7,422.0,NaN,USD,8.80,12.10
5,Dell,i7630-7312SLV-PUS,4.7,944.0,NaN,USD,9.91,14.05
6,Lenovo,82R400DTUS,4.7,209.0,NaN,USD,14.17,9.29
7,Lenovo,82YL0005US,4.8,695.0,NaN,USD,8.76,12.51
8,Samsung,NP750QFG-KA1US,4.8,516.0,NaN,USD,13.99,8.98
9,ASUS,Q410VA-EVO.I5512,4.7,363.0,NaN,USD,12.67,8.88
10,Samsung,NP750QFG-KA2US,4.8,477.0,NaN,USD,13.99,8.98
11,HP,14-es0033dx,4.7,1731.0,NaN,USD,8.30,12.68
12,HP,15-fh0023dx,4.7,1155.0,NaN,USD,8.99,14.07
13,Acer,PHN16-71-73LT,4.6,343.0,1179.99,USD,11.02,14.18
14,Lenovo,82H803SBUS,4.7,3275.0,NaN,USD,9.98,14.26
15,HP,15-fh0013dx,4.7,1923.0,NaN,USD,8.99,14.07
16,HP,17-cw0023dx,4.8,840.0,NaN,USD,10.18,15.59
17,HP,14-es0013dx,4.7,1640.0,NaN,USD,8.30,12.68
18,HP,15-DY5033DX,4.7,1519.0,NaN,USD,9.53,14.11
19,HP,15-fc0093dx,4.6,1362.0,NaN,USD,9.29,14.17

In [10]:
df['brand'].is_unique

False

In [11]:
# columns with data types
df.dtypes

brand                           object
model                           object
aggregateRating/ratingValue    float64
aggregateRating/reviewCount    float64
offers/price                   float64
offers/priceCurrency            object
depth                          float64
width                          float64
dtype: object

In [13]:
# retuning 23 rd record 
df.loc[23]

brand                          Microsoft
model                          QIL-00001
aggregateRating/ratingValue          4.8
aggregateRating/reviewCount        517.0
offers/price                     1199.99
offers/priceCurrency                 USD
depth                                8.2
width                               11.3
Name: 23, dtype: object

In [14]:
df.loc[23:, 'brand'].head(15)

23    Microsoft
24           LG
25         Dell
26       Lenovo
27       Lenovo
28       Lenovo
29           HP
30           LG
31    Microsoft
32    Microsoft
33           HP
34       Lenovo
35           HP
36       Lenovo
37         Dell
Name: brand, dtype: object

In [19]:
# returning initial 5 records with only brand names
df['brand'].head()

0         Dell
1         Dell
2       Lenovo
3    Microsoft
4    Microsoft
Name: brand, dtype: object