In [43]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [72]:
from sklearn.tree import DecisionTreeClassifier

In [82]:
df = pd.read_csv('Social_Network_Ads.csv')

In [83]:
df.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [84]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [85]:
df.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [86]:
df.shape

(400, 3)

In [87]:
print(df)

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [88]:
names = ['Age','EstimatedSalary']
X = df[names]
y = df.Purchased

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [92]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [93]:
from sklearn import metrics

In [94]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8166666666666667

In [98]:
pip install pydotplus

Collecting pydotplus
  Downloading pydotplus-2.0.2.tar.gz (278 kB)
     ---------------------------------------- 0.0/278.7 kB ? eta -:--:--
     ---------------------------------------- 0.0/278.7 kB ? eta -:--:--
     - -------------------------------------- 10.2/278.7 kB ? eta -:--:--
     - -------------------------------------- 10.2/278.7 kB ? eta -:--:--
     - -------------------------------------- 10.2/278.7 kB ? eta -:--:--
     - -------------------------------------- 10.2/278.7 kB ? eta -:--:--
     ----- ------------------------------- 41.0/278.7 kB 163.4 kB/s eta 0:00:02
     ----- ------------------------------- 41.0/278.7 kB 163.4 kB/s eta 0:00:02
     -------- ---------------------------- 61.4/278.7 kB 182.2 kB/s eta 0:00:02
     ---------- -------------------------- 81.9/278.7 kB 208.4 kB/s eta 0:00:01
     ---------- -------------------------- 81.9/278.7 kB 208.4 kB/s eta 0:00:01
     ---------- -------------------------- 81.9/278.7 kB 208.4 kB/s eta 0:00:01
     ------------ ------------------------ 92.2/278.7 kB 180.8 kB/s eta 0:00:02
     -------------- --------------------- 112.6/278.7 kB 192.8 kB/s eta 0:00:01
     -------------- --------------------- 112.6/278.7 kB 192.8 kB/s eta 0:00:01
     --------------- -------------------- 122.9/278.7 kB 185.0 kB/s eta 0:00:01
     ------------------ ----------------- 143.4/278.7 kB 202.9 kB/s eta 0:00:01
     ------------------ ----------------- 143.4/278.7 kB 202.9 kB/s eta 0:00:01
     --------------------- -------------- 163.8/278.7 kB 200.5 kB/s eta 0:00:01
     ---------------------- ------------- 174.1/278.7 kB 201.5 kB/s eta 0:00:01
     ------------------------- ---------- 194.6/278.7 kB 206.9 kB/s eta 0:00:01
     ------------------------- ---------- 194.6/278.7 kB 206.9 kB/s eta 0:00:01
     -------------------------- --------- 204.8/278.7 kB 207.4 kB/s eta 0:00:01
     ----------------------------- ------ 225.3/278.7 kB 215.0 kB/s eta 0:00:01
     ------------------------------- ---- 245.8/278.7 kB 224.9 kB/s eta 0:00:01
     --------------------------------- -- 256.0/278.7 kB 224.6 kB/s eta 0:00:01
     -----------------------------------  276.5/278.7 kB 233.3 kB/s eta 0:00:01
     -----------------------------------  276.5/278.7 kB 233.3 kB/s eta 0:00:01
     ------------------------------------ 278.7/278.7 kB 223.1 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pydotplus) (3.1.1)
Building wheels for collected packages: pydotplus
  Building wheel for pydotplus (pyproject.toml): started
  Building wheel for pydotplus (pyproject.toml): finished with status 'done'
  Created wheel for pydotplus: filename=pydotplus-2.0.2-py3-none-any.whl size=24575 sha256=b202f996ddc4eb4b128da55e946bcebb02d6658ecafeb245c64937f1395820e6
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\77\54\7c\c8077b6151c819495492300386cf9b151a954259d1a658c63b
Successfully built pydotplus
Installing collected packages: pydotplus
Successfully installed pydotplus-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [101]:
from io import StringIO

In [ ]:
from sklearn.tree import export_graphviz
from IPython.display import Image
import pydotplus


dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True, feature_names=names, class_names=['0', '1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('social_adds.png')

# Display the decision tree image
Image(graph.create_png())